extends layouts/main

block vars
  - var description = '';
  - var keywords= '';
  - var ogtitle = '';
  - var ogtype = '';
  - var ogurl = '';
  - var ogimg = '';

block title
  | main
block main
  .wrapper
    include includes/sidebar
    .content-wrap
      .content
        include includes/header
          
          

        .container
        


      include includes/footer
        

  include includes/scripts